body {
    padding: 1vw;
    font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', 'Georgia,serif';
    line-height: 1.25;
    font-size: 1vw;
    width: 100%;
}

h1 {
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    padding: 1vw;
    text-align: center;
    letter-spacing: 4px;
}

h3 {
    font-family: 'Verdana';
    font-weight: bold;
    padding: 1vw;
    text-align: center;
    color: white;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    text-align: center;
    letter-spacing: 2px;
}

.index-text {
    font-family: 'Verdana';
    text-align: justify;
    color: white;
    line-height: 1.8;
    padding-top: 5%;
    padding-bottom: 5%;
}

#text-description {
    font-family: 'Verdana';
    text-align: justify;
    color: white;
    line-height: 1.8;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.subtitle {
    margin-left: 5%;
    font-size: 0.75em;
}

.resource-titles {
    font-family: 'Verdana';
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;
}

.copyright_logo {
    width: 1vw;
    margin: .15vw;
}

.row {
    border-radius: 70px;
    padding: 20px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: black;
}

#collection {
    display: flex;
}

#sitenav a:link {
    color: #888B90;
    background-color: transparent;
    text-decoration: none;
}

#sitenav a:hover {
    color: #008080;
    background-color: transparent;
    text-decoration: underline;
}

#sitenav a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#text-description a:link {
    color: #888B90;
    background-color: transparent;
    text-decoration: none;
}

#text-description a:hover {
    color: #008080;
    background-color: transparent;
    text-decoration: underline;
}

#text-description a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

p {
    color: white;
}

.top-img-layout {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between; /* Adjusts spacing between images */
    gap: 10px; /* Adds space between columns */
}

.img-layout {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between; /* Adjusts spacing between images */
    gap: 10px; /* Adds space between columns */
}

.text-layout {
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    margin-right: 2%;
    display: flex;
    gap: 60px; /* Adds space between columns */
}

.transkript-layout {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    width: 100%;
}

.audio-layout {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    width: 100%;
}

.column {
    flex: 1; /* Ensures columns take equal width */
}

.img-full {
    width: 100%; /* Makes images fill their container */
    height: 284.18px;
    height: auto; /* Maintains aspect ratio */
    display: block;
}

.index-img {
    width: 100%; /* Makes images fill their container */
    height: auto; /* Maintains aspect ratio */
    display: block;
}

.transkript-img {
    width: 100%; /* Makes images fill their container */
    height: auto; /* Maintains aspect ratio */
    display: block;
}


.image-container {
    position: relative;
    display: inline-block;
}


.zoom-target {
    width: 100%; /* Makes images fill their container */
    height: auto; /* Maintains aspect ratio */
    display: block;
}

.zoom-window {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: 700%; /* adjust for zoom level */
    z-index: 10;
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
    text-align: center;
}

.copyright {
    width: 50%;
    margin: auto;
}